extends base

block content
  .ui.center.aligned.basic.segment
    h1.ui.icon.header
      i.grey.circular.graduation.cap.icon
      .content
        | 畢業紀念冊領取査詢

  if people|length > 1
    .ui.info.icon.message
      i.users.icon
      .content
        .header 多筆同名紀錄
        p 找到 #{people|length} 筆紀錄，請確認領取同學的系所

  each person in people
    .ui.stacked.segment
      h4.ui.horizontal.divider.header
        i.user.icon
        | 個人資料
      table.ui.large.definition.table
        tbody
          tr
            td.five.wide.column 姓名
            td= person.name
          tr
            td 系所
            td= person.depart
      h4.ui.horizontal.divider.header
        i.truck.icon
        | 領取方式
      table.ui.large.definition.table
        tbody
          tr
            td.five.wide.column 領取方式
            td= person.obtain
          tr
            td 郵遞區號
            td= person.zipcode
          tr
            td 郵局執據號碼
            td= person.receipt

  a.ui.basic.button(href=url_for('query')) 回前頁

// vim: set ts=2 sw=2 et:
